<form method="post" action="/add">
	<input type="text" id="first" name="first"/>
	<input type="text" id="second" name="second"/>
	<button id="add_button">Add</button>
</form>
<h4>Answer:</h4>
<div id="answer">
	<%= @answer ? @answer : '' %>
</div>